
<div class="timeline">
  <div class="container_c left">
    <div class="content">
      <h2>UI/UX Developer  <p style="font-size: 16px;">April 2018-Present</p></h2>
      <h4>Think Agency</h4>
      
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div> 
  </div>
  <div class="container_c right">
    <div class="content">
      <h2>Front-End Developer  <p style="font-size: 16px;">December 2017- May 2018</p></h2>
      <h4>BosTech</h4>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container_c left">
    <div class="content">
      <h2>Front-End Developer  <p style="font-size: 16px;">August 2017- May 2018</p></h2>
      <h4>Blissful Real Estate</h4>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container_c right">
    <div class="content">
      <h2>Graduate Teaching Assistant <p style="font-size: 16px;">August 2017- May 2018</p></h2>
      <h4>University of Central Florida</h4>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container_c left">
    <div class="content">
      <h2>Project Intern  <p style="font-size: 16px;">January 2016- May 2016</p></h2>
      <h4>DRDO, Bangalore</h4>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
 
</div>

