<div class="project-section">
  <div class="project container">
    <div class="project-row row">
     
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-title">
            <h2>Web Development</h2>
          </div>
          <div class="project-description">
            <p> I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
          <div class="project-box" style="background-color:lightpink;">
              <div class="project-title">
                <h2>Web Development</h2>
              </div>
              <div class="project-description">
                <p> I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="project-box" style="background-color:lightsalmon;">
              <div class="project-title">
                <h2>Web Development</h2>
              </div>
              <div class="project-description">
                <p> I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </div>
         </div>
      </div>
    </div>
  
    <div class="row">
     
      <div class="col-md-4">
          <div class="project-box" style="background-color:lightgreen;">
              <div class="project-title">
                <h2>Web Development</h2>
              </div>
              <div class="project-description">
                <p> I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </div>
         </div>
      </div>

      <div class="col-md-4">
          <div class="project-box" style="background-color:lightslategray;">
              <div class="project-title">
                <h2>Web Development</h2>
              </div>
              <div class="project-description">
                <p> I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </div>
           </div>
      </div>

      <div class="col-md-4">
          <div class="project-box" style="background-color:orange;">
              <div class="project-title">
                <h2>Web Development</h2>
              </div>
              <div class="project-description">
                <p> I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </div>
          </div>
      </div>

      </div>
    </div>
  
</div>