<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="background-image">
  <div class="portfolio-profile container">
    <div class="row portfolio-row">
      <div class="col-md-6 portfolio-column-left">
        <div class="portfolio-profile-image">
          <img src="assets/profile-image.jpg" style="width:100%">
        </div>
      </div>
      <div class="col-md-6 portfolio-column-right">
        <div class="portfolio-profile-content">
          <h2>Arpitha Rajanna</h2>
          <h4>Software Developer</h4>
          <h4>Phone</h4>
          <p>407-881-8017</p>
          <h4>Email</h4>
          <p>arpitha.r.227@gmail.com</p>
          <h4>Address:</h4>
          <p>3248 Arden Villas Blvd #17 <br /> Orlando, Florida 32817
          </p>

        </div>
      </div>

    </div>
  </div>
</div>

<section id="summary">
  <div class="summary-icons container"> 
    <div class="summary-icon-box">
      <a href="https://github.com/arpitharajanna"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/arpitha-rajanna/"><i class="fa fa-linkedin"></i></a>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>
  <div class="portfolio-summary container">
    
    <h1> Hi! I'm Arpitha</h1>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
  </div>
  </section>

  <section id="Experience">
    <h1 class="portfolio-experience-title"> Professional Experience</h1>
    <hr>
    <app-timeline></app-timeline>
    <hr>
  </section>

  <section id="Education">
      <h1 class="portfolio-experience-title"> Education</h1>
      <hr>
      <app-education></app-education>
      <hr>
    </section>

    <section id="Projects">
        <h1 class="portfolio-experience-title"> Projects</h1>
        <hr>
        <app-projects></app-projects>
        <hr>
      </section>

      <section id="Skills">
          <h1 class="portfolio-experience-title"> Skills</h1>
          <hr>
          
        </section>

        <section id="Contact">
           <div class="portfolio-contact">
            
             <app-footer></app-footer>

           </div>
            
          </section>



